In [1]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in d:\python\lib\site-packages (2.1.1)
Requirement already satisfied: pandas in d:\python\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\python\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\python\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\python\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [18]:
import pandas as pd
import numpy as np
from numpy.random import randn

# Pandas Series - Like a Table Column - 1D Araay holding any type of Data

In [6]:
my_series=[5,9,12,27]
p1 = pd.Series(my_series)
print(p1)

0     5
1     9
2    12
3    27
dtype: int64

In [8]:
p1[2]

12

In [12]:
my_index=["A","B","C","D"]
p2=pd.Series(my_series,my_index)
print(p2)

A     5
B     9
C    12
D    27
dtype: int64

In [13]:
p2["B"]

9

In [16]:
cars={"Tesla":12,"Mercedes":42,"BMW":3}
p3=pd.Series(cars)
print(p3)

Tesla       12
Mercedes    42
BMW          3
dtype: int64

In [17]:
p3["Mercedes"]

42

# DataFrames

In [20]:
my_data=randn(4,3)
my_rows=["A","B","C","D"]
my_cols=["Mon","Tue","Fri"]
p4=pd.DataFrame(my_data,my_rows,my_cols)
p4

        Mon       Tue       Fri
A  0.751544  0.707808  1.979844
B  1.049173  0.269409  0.399155
C  0.283102  1.708939  1.077953
D -0.260919 -0.224757 -0.411032

In [21]:
p5=pd.read_csv('dog_data.csv')
p5

               Breed  Color  DogName  OwnerZip
0             Beagle  Black    Molly     30303
1             Poodle  Mixed   Bailey     98101
2             Poodle  Mixed    Bella     98101
3             Poodle  Black    Molly     90210
4             Beagle  Brown  Charlie     33101
5           Labrador  Mixed    Buddy     90210
6           Labrador  White      Max     98101
7            Bulldog  Mixed    Sadie     90210
8          Chihuahua  Cream  Charlie     33101
9           Labrador   Gray    Rocky     33101
10  Golden Retriever  Mixed    Sadie     33101
11           Bulldog   Gray    Rocky     30303
12         Chihuahua  White   Bailey     10001
13         Chihuahua  Cream     Lucy     10001
14         Chihuahua   Gray     Lucy      2139
15           Bulldog  Black    Bella     33101
16           Bulldog   Gray    Rocky     98101
17           Bulldog  Mixed   Bailey     60614
18            Poodle  Mixed     Lucy     90210

In [23]:
p5.loc[0]

Breed       Beagle
Color        Black
DogName      Molly
OwnerZip     30303
Name: 0, dtype: object

In [26]:
p5.loc[[0,5,8]]

       Breed  Color  DogName  OwnerZip
0     Beagle  Black    Molly     30303
5   Labrador  Mixed    Buddy     90210
8  Chihuahua  Cream  Charlie     33101

In [27]:
p5.head()

    Breed  Color  DogName  OwnerZip
0  Beagle  Black    Molly     30303
1  Poodle  Mixed   Bailey     98101
2  Poodle  Mixed    Bella     98101
3  Poodle  Black    Molly     90210
4  Beagle  Brown  Charlie     33101

In [28]:
p5.head(9)

       Breed  Color  DogName  OwnerZip
0     Beagle  Black    Molly     30303
1     Poodle  Mixed   Bailey     98101
2     Poodle  Mixed    Bella     98101
3     Poodle  Black    Molly     90210
4     Beagle  Brown  Charlie     33101
5   Labrador  Mixed    Buddy     90210
6   Labrador  White      Max     98101
7    Bulldog  Mixed    Sadie     90210
8  Chihuahua  Cream  Charlie     33101

In [29]:
p5.tail()

        Breed  Color DogName  OwnerZip
14  Chihuahua   Gray    Lucy      2139
15    Bulldog  Black   Bella     33101
16    Bulldog   Gray   Rocky     98101
17    Bulldog  Mixed  Bailey     60614
18     Poodle  Mixed    Lucy     90210

In [30]:
p5.tail(8)

        Breed  Color DogName  OwnerZip
11    Bulldog   Gray   Rocky     30303
12  Chihuahua  White  Bailey     10001
13  Chihuahua  Cream    Lucy     10001
14  Chihuahua   Gray    Lucy      2139
15    Bulldog  Black   Bella     33101
16    Bulldog   Gray   Rocky     98101
17    Bulldog  Mixed  Bailey     60614
18     Poodle  Mixed    Lucy     90210

In [31]:
p5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     19 non-null     object
 1   Color     19 non-null     object
 2   DogName   19 non-null     object
 3   OwnerZip  19 non-null     int64
dtypes: int64(1), object(3)
memory usage: 740.0+ bytes

In [32]:
p5.shape

(19, 4)

In [34]:
p5.ndim

2

In [36]:
p5.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [37]:
p5.describe()

           OwnerZip
count     19.000000
mean   55900.526316
std    35643.053040
min     2139.000000
25%    31702.000000
50%    33101.000000
75%    90210.000000
max    98101.000000

In [39]:
p5['Breed'].describe()

count          19
unique          6
top       Bulldog
freq            5
Name: Breed, dtype: object

In [41]:
p5['Color'].describe()

count        19
unique        6
top       Mixed
freq          7
Name: Color, dtype: object

In [43]:
p5['DogName'].describe()

count         19
unique         9
top       Bailey
freq           3
Name: DogName, dtype: object

In [44]:
p5['DogName']

0       Molly
1      Bailey
2       Bella
3       Molly
4     Charlie
5       Buddy
6         Max
7       Sadie
8     Charlie
9       Rocky
10      Sadie
11      Rocky
12     Bailey
13       Lucy
14       Lucy
15      Bella
16      Rocky
17     Bailey
18       Lucy
Name: DogName, dtype: object

In [45]:
p5.DogName

0       Molly
1      Bailey
2       Bella
3       Molly
4     Charlie
5       Buddy
6         Max
7       Sadie
8     Charlie
9       Rocky
10      Sadie
11      Rocky
12     Bailey
13       Lucy
14       Lucy
15      Bella
16      Rocky
17     Bailey
18       Lucy
Name: DogName, dtype: object

In [50]:
p5.iloc[:9,[0,1,2,3]]

       Breed  Color  DogName  OwnerZip
0     Beagle  Black    Molly     30303
1     Poodle  Mixed   Bailey     98101
2     Poodle  Mixed    Bella     98101
3     Poodle  Black    Molly     90210
4     Beagle  Brown  Charlie     33101
5   Labrador  Mixed    Buddy     90210
6   Labrador  White      Max     98101
7    Bulldog  Mixed    Sadie     90210
8  Chihuahua  Cream  Charlie     33101

In [51]:
p6=pd.read_csv("dog_data1.csv")
p6

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [52]:
p6['Color'].value_counts()

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BLACK/ORANGE/BRINDLE      1
BROWN/ORANGE              1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64

In [53]:
p6['Color'].value_counts(ascending=True)

Color
BROWN/LIVER               1
BROWN/FAWN                1
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BLACK/BROWN/GREY          1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: count, Length: 72, dtype: int64

In [54]:
p6['DogName'].value_counts()

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
CHOOKIE     1
AMY         1
DEE DEE     1
KAYLIE      1
GRIFFIN     1
Name: count, Length: 1428, dtype: int64

In [56]:
p6['DogName'].value_counts(dropna=False)

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
RAMBO       1
CHOOKIE     1
AMY         1
DEE DEE     1
GRIFFIN     1
Name: count, Length: 1429, dtype: int64

In [57]:
p6['Color'].value_counts(normalize=True)

Color
BLACK                   0.139212
BROWN                   0.115947
WHITE                   0.084803
WHITE/BLACK             0.073546
BLACK/BROWN             0.068668
                          ...
BLACK/ORANGE/BRINDLE    0.000375
BROWN/ORANGE            0.000375
BROWN/FAWN              0.000375
BLACK/BROWN/GREY        0.000375
BROWN/LIVER             0.000375
Name: proportion, Length: 72, dtype: float64

In [59]:
p6['Color'].value_counts()['WHITE']

226

In [62]:
p6.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [63]:
p6.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]

In [72]:
p6.apply(pd.value_counts)

C:\Users\dhine\AppData\Local\Temp\ipykernel_27040\2520933634.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  p6.apply(pd.value_counts)
C:\Users\dhine\AppData\Local\Temp\ipykernel_27040\2520933634.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  p6.apply(pd.value_counts)
C:\Users\dhine\AppData\Local\Temp\ipykernel_27040\2520933634.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  p6.apply(pd.value_counts)
C:\Users\dhine\AppData\Local\Temp\ipykernel_27040\2520933634.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  p6.apply(pd.value_counts)

TypeError: '<' not supported between instances of 'int' and 'str'